.map-wrapper {
    width: 100%;
    max-width: 100%;
    height: 55vh;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 10px;   /* 1 cm down */
    left: 5px; /* 0.25 cm right */
}

.map-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Ensuring responsive map size */
@media (max-width: 768px) {
    .map-wrapper {
        height: 50vh;
    }
}



.no-mines-message {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
    color: #ff0000;
    text-align: center;
    z-index: 1000;
}

.map-search-bar {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #990000;
    border-radius: 20px;
    outline: none;
    background: white;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.map-search-bar::placeholder {
    color: #666;
}

/* Heatmap Toggle Positioned Over the Map */
.heatmap-toggle {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1000; /* Ensures it's above the map */
    background: rgba(255, 255, 255, 0.9);
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* Switch slider */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 18px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #ff5733;
}

input:checked + .slider:before {
    transform: translateX(16px);
}

/* Toggle Label */
.toggle-label {
    font-size: 12px;
    color: black;
    font-weight: bold;
}